* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h3 {
  color: rgb(128, 128, 128);
}
h2 {
  color: rgb(128, 128, 128);
}
